
@page "/clipboard"
@using ServerClipboard_Web.Components.Shared


<link href="~/css/clipboard.css" rel="stylesheet" />

<div id="div_clipboard" class="mt-5 clipboard">
    <ClipboardContent>
    </ClipboardContent>
</div>

@code {

}
